body{
    background-color: #FAF7FD;
}

.logo-container{
    max-width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo{
    width:236px;
    height:236px;
    padding: 3.5px;
    border: solid 3px #BB99DD;
    border-radius: 50%;
}

#image{
    border-radius: 50%;
}

.instagram-container{
    max-width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-content{
    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
}

.buttons-container{
    max-width: 100vw;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    all: unset;
    width: 380px;
    height: 45px;
    border: solid 2px #BB99DD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#button-text{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
    font-weight: 600;
}

.icons-container{
    max-width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 30px;
    height: 30px;
    padding: 20px;
}

@media only screen and (max-width:480px){
    
    .logo-container{
        height: 270px;
    }

    .button{
        width: 315px;
    }

    .icons{
        padding: 12px;
    }
}